<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
	{{ partial "head.html" . }}
	{{ template "_internal/google_analytics.html" . }}
	</head>
	<body>
		<div class="container">	
				{{ partial "header.html" . }}
			<div class="main">
				<ul id="og-grid" class="og-grid">
					{{- range $page := sort (where .Site.RegularPages "Type" "photo") ".File.Dir" "desc"}}
					{{- range $index, $image := sort ($page.Resources.ByType "image") "Params.order" }}
					{{- $isVideo := isset $image.Params "video_embed_link" }}
					<li>
						<a href="{{ if isset $image.Params "button_url" }}{{ $image.Params.button_url }}{{ else }}#{{ end }}" data-largesrc="{{ if $isVideo }}{{ $image.Params.video_embed_link }}{{ else }}{{ $image.RelPermalink }}{{ end }}"
						data-title="{{ $image.Name }}"
						data-is-video="{{ $isVideo }}"
						data-description="{{ $image.Params.description | markdownify }}"
						{{ if isset $image.Params "button_text" }}data-buttontext="{{ $image.Params.button_text }}"{{ end }} data-collection="{{ $page.Title }}"
						{{ if and (not $.Site.Params.no_exif) (not $isVideo) -}}
						data-exif="{{ if in (slice "jpg" "jpeg" "tiff" "tif") $image.MediaType.SubType }}
						{{- with $image.Exif -}}
							{{- with .Tags -}}
								<li>{{- if isset . "Model" }}{{ if not (hasPrefix (lower .Model) (lower .Make)) }}{{ .Make }} {{ end }}{{ .Model }}
									{{- else }}{{ if isset $image.Params "composite" }}{{ $image.Params.composite }}
									{{- else }}Composite Photo{{ end }}{{ end }}</li>
								{{- if isset . "LensModel" -}}
								<li>{{- if not (hasPrefix (lower .LensModel) (lower .Make)) }}{{ .LensModel }}
									{{- else }}{{ substr .LensModel (len .Make)}}{{ end }} @ {{ .FocalLength }}mm</li>
								{{- end }}
								{{- with .ExposureTime }}<li>S.S. {{ . }}s</li>{{ end }}
								{{- with .FNumber }}<li>A. f/{{ . }}</li>{{ end }}
								{{- with .ISOSpeedRatings }}<li>ISO {{ . }}</li>{{ end }}
							{{- end -}}
								<li>Taken at {{ if isset $image.Params "timestamp" }} {{ $image.Params.timestamp }} {{ else }}{{ .Date.Format "2006-1-2 15:04" }}{{ end }}</li>
							{{- end }}
							{{- end }}"{{ end }}>
							{{- if $isVideo -}}
							<span class="video-icon">{{ partial "helper/icon" "video" }}</span>
							{{- end -}}
							{{- $.Scratch.Set "thumbnail" ($image.Resize "x250") -}}
							<img class="lazy" data-src="{{ ($.Scratch.Get "thumbnail").RelPermalink }}" style="width:{{ ($.Scratch.Get "thumbnail").Width }}px;" alt="Thumbnail of {{ $image.Name }}"/>
						</a>
					</li>
					{{- end -}}
					{{- end -}}
				</ul>
				{{ partial "footer.html" . }}
			</div>
		</div>
		{{ partial "scripts.html" . }}
	</body>
</html>
